body{

    font-family: Roboto;
    margin: 0%;
    padding: 0%;
    background: #2F343A;
    text-decoration: none;
    color: white;
    z-index: -1;
}
body a{
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    
}
body li{
    list-style-type: none;
}